---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Education from "../components/Education.astro";
import SectionContainer from "../components/SectionContainer.astro";
import EmailIcon from "../components/icons/Email.astro";
import GitHubIcon from "../components/icons/Github.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Proyectos from "../components/Proyectos.astro";
import LinkButton from "../components/LinkButton.astro"
import AboutIcon from "../components/icons/About.astro"
import DownloadIcon from "../components/icons/Download.astro"
import AboutMe from "../components/AboutMe.astro";

---

<Layout title="Welcome to Astro.">
  <main class="mt-20">
    <SectionContainer
      id="inicio"
      class="text-white items-center mx-auto flex-col sm:flex-row py-10 sm:pb-0 gap-1 sm:my-10  "
    >
      <!-- Columna de texto -->
      <div class="w-3/5 order-2 sm:order-1">
        <h1
          class="flex flex-col gap-y-2 sm:gap-y-0 sm:flex-row  text-center justify-center sm:justify-normal sm:text-2xl  md:gap-x-8 lg:gap-x-12 md:text-3xl lg:text-5xl font-bold gap-x-1 pb-6 sm:pb-4 lg:pb-10"
        >
          Hola!, soy Javier
          <a
            href="https://www.linkedin.com/in/fjjuareznavarro/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            <Badge class=" text-l sm:text-xs sm:gap-4"
              >Disponible para trabajar</Badge
            >
          </a>
        </h1>
        <h2
          class="text-center sm:text-left text-white lg:text-left text-sm sm:text-base md:text-lg lg:text-2xl lg:max-w-[700px]"
        >

        <div class="mb-4">
          <span class="text-yellow-200 font-bold">
            Ingeniero en Sistemas Computacionales
          </span>
          <span>enfocado en </span>
          <span class="text-yellow-200 font-bold">Desarrollo Web </span>
          <span class="opacity-85">
            con una sólida formación en React y en constante desarrollo de habilidades para aportar soluciones eficientes y de alta calidad.
          </span>
        </div>
          


          <LinkButton
          download="CV"
          href="/assets/CV.pdf"
        >
        
          <DownloadIcon />
          CV
        </LinkButton>
        </h2>
      </div>
      <!-- Columna de imagen -->
      <div class="mt-10 lg:mt-0 items-center max-w-[1280px] order-1 sm:order-2">
        <img
          class="rounded-full size-44 sm:size-48 md:size-56 lg:size-72 object-cover"
          src="Me.jpg"
          alt="Javier"
        />
      </div>
    </SectionContainer>

    

    <div class="flex gap-2">
      <nav
        class="flex flex-col   sm:flex-row gap-2 w-fit sm:w-5/6 mx-auto max-w-5xl "
      >
        <LinkButton
          href="https://www.linkedin.com/in/fjjuareznavarro/"
        >
          <LinkedInIcon />
          LinkedIn
        </LinkButton>

        <LinkButton href="https://github.com/JavierJN" >
          <GitHubIcon />
          GitHub
        </LinkButton>

        <LinkButton href="mailto:FJJuarezNavarro@hotmail.com">
          <EmailIcon />
          FJJuarezNavarro@hotmail.com
        </LinkButton>
      </nav>
    </div>

    <SectionContainer id="sobre-mi" class="flex-col w-4/6 sm:w-3/6 mx-auto mt-10 max-w-3xl gap-2">
      <h2
      class="flex justify-normal text-white text-3xl font-semibold mb-6 gap-x-3"
    >
      <AboutIcon class="size-7" />
      Sobre mí
    </h2>
            
      <AboutMe />
    </SectionContainer>



    <SectionContainer
      id="perfil"
      class="flex-col w-4/6 sm:w-3/6 mx-auto mt-20 max-w-3xl gap-2"
    >
      <h2
        class="flex justify-normal text-white text-3xl font-semibold mb-6 gap-x-3"
      >
        <BriefcaseIcon class="size-7" />
        Perfil
      </h2>
      <Education class="w-2/6" />
    </SectionContainer>

    <SectionContainer
      id="proyectos"
      class="flex-col w-4/6 sm:w-3/6 mx-auto mt-10 max-w-3xl gap-2"
    >
      <h2
        class="flex justify-normal text-white text-3xl font-semibold mb-6 gap-x-3"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Proyectos /> 
    </SectionContainer>

    <SectionContainer class="flex" />

  </main>
</Layout>
