
<article class="flex flex-col items-center justify-center gap-8 text-gray-300 lg:flex-row">
    <di v
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 lg:order-1"
    >
      <p>
        Hola, soy Francisco Javier, aunque me llaman Javi o Paquito, y en Twitch soy Lito. 
        Comencé en la programación a los 15 años y me gradué como Técnico en Programación en 2019 en el CBTIS  para luego obtener mi título en, 
       
        <strong
          >  Ingeniería en Sistemas Computacionales en diciembre de 2023.</strong
        >.
      </p>
  
      <p>
        Durante mi carrera, participé en concursos de programación como el ICPC. <strong
          >. Gané un concurso interno, aunque en los internacionales resolví solo 4 de 10 problemas, lo cual consideré un buen logro dadas las dificultades.
          </strong
        >.  Aunque no obtuve los mejores resultados, seguí fortaleciéndome en el desarrollo de software y aprendiendo de cada experiencia.
      </p>
  
      <p>
        Actualmente, estoy dedicando mi tiempo y esfuerzo a crear <strong ><em class="italic">experiencia profesional de manera autodidacta</em> </strong>, superando las limitaciones que enfrenté como recién egresado al no encontrar oportunidades para desarrollarme en un entorno empresarial.
      </p>
    </di>
  
    <img src="/MeChibi.png" alt="Javier" class="order-1 size-32 justify-center  p-1 lg:order-2 rotate-3 lg:p-2 " style="object-position: 50% 50%">
  
  </article>
  